# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environment
.venv/

# Environment files
.env

# Poetry
poetry.lock

# IDE
.vscode/
.idea/

# Test
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.py

# Temp files
test_db.py
